<h1>Welcome</h1>

<div class="navigation">
  <button *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
  <button *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>
  <h3>
    <a [routerLink]="['/home']"> home </a>
  </h3>
  <div *ngIf="isUser()">
    <h3>
      <a [routerLink]="['/user']"> user </a>
    </h3>
  </div>
  <div *ngIf="isUser()" >
    <h3>
      <a *ngIf="isAdmin()" [routerLink]="['/admin']"> admin </a>
    </h3>
  </div>

</div>


<router-outlet></router-outlet>